<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cafetería Pamplona{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        <h1>Cafetería Pamplona</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Cafetería Pamplona</p>
    </footer>
</body>
</html>