
{% extends 'base.html' %}
{% load static %}
{% block title %}Seleccionar Mesa{% endblock %}

{% block content %}
<h2>Selecciona tu mesa</h2>

<form method="post">
    {% csrf_token %}
    <label for="mesa_id">Mesa:</label>
    <select name="mesa_id" id="mesa_id" required>
        {% for mesa in mesas %}
            <option value="{{ mesa.id_mesa }}">Mesa {{ mesa.id_mesa }} (Capacidad: {{ mesa.capacidad }})</option>
        {% endfor %}
    </select>
    <button type="submit">Confirmar</button>
</form>
{% endblock %}
