<!DOCTYPE html>
<html lang='es'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div>
        <h2>Iniciar Sesión</h2>

        {% if messages %}
            <div>
                {% for message in messages %}
                    <p><strong>{{ message }}</strong></p>
                {% endfor %}
            </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div>
                <label>Correo electrónico: <input type="email" name="email" required></label>
            </div>
            <div>
                <label>Contraseña: <input type="password" name="password" required> </label>       
            </div>
            <button type="submit">Ingresar</button>
        </form>

        <div>
            <a href="{% url 'seleccionar_mesa' %}">
                <button type="button">Continuar como Cliente</button>
            </a>
        </div>
    </div>
</body>
</html>