{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'cliente/cliente.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Mesa</title>
</head>
<body>
    <h2>Seleccione una Mesa</h2>

    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>ID Mesa</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for item in mesas %}
                <tr>
                    <td>{{ item.obj.id_mesa }}</td>
                    <td>
                        {% if item.ocupada %}
                            Ocupada
                        {% else %}
                            Libre
                        {% endif %}
                    </td>
                    <td>
                        {% if item.ocupada %}
                            No disponible
                        {% else %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="mesa_id" value="{{ item.obj.id_mesa }}">
                                <button type="submit">Seleccionar</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <form method="GET" action="{% url 'login' %}">
        <a href="{% url 'login' %}" class="login-btn"> ¿Eres un empleado? Ir al Login</a>
    </form>
</body>
</html>
